<li class="list-group-item d-flex flex-row">
  <div>
    <a [routerLink]="['/profile', comment.user.id]"><img
      class="rounded-circle mr-3"
      style="width: 40px;"
      [src]="comment.user.avatar"
      alt=""
    /></a>
  </div>
  <div>
    <div><strong>User's name: <a [routerLink]="['/profile', comment.user.id]"> {{ comment.user.name }} </a></strong>{{ comment.text }}</div>
    <div>
      <star-rating [rating]="comment.stars"></star-rating>
    </div>
    <small>03/10/2018 15:26:24</small>
  </div>
</li>
