<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand active text-white" >FoodScore</a>
  <ul class="navbar-nav mr-auto" *ngIf="logged">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/restaurants']" [routerLinkActive]="['active']">Restaurants</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/restaurants/add']" [routerLinkActive]="['active']">New Restaurant</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/restaurants/mine']" [routerLinkActive]="['active']">My Restaurants</a>
    </li>
    <li class="nav-item">
      <a class="nav-link btn" (click)="logoutButton()">Logout</a>
    </li>
  </ul>
</nav>
