<div class="container">
  <form
    action="#"
    id="form-login"
    class="login-form col-md-6"
    method="POST"
    role="form"
    (ngSubmit)="addLogin()"
  >
    <legend>Welcome to FoodScore!</legend>

    <div class="form-group">
      <label for="correo">Email:</label>
      <input
        type="email"
        class="form-control"
        name="email"
        id="email"
        [(ngModel)]="email"
        placeholder="Email"
      />
      <label for="password">Password:</label>
      <input
        type="password"
        class="form-control"
        name="password"
        id="password"
        [(ngModel)]="password"
        placeholder="Password"
      />
    </div>
    <a class="btn btn-secondary m-3 text-white" (click)="goToRegister()" role="button"
      >Create account</a
    >
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div>

<div class="container">
  <div class="row">
    <button appGoogleLogin type="button" class="btn btn-lg btn-danger mt-4"
    (loginOk)="loggedGoogle($event)" (loginError)="errorGoogle($event)">
    Login with <i class="fab fa-google"></i>
    </button>
    <button appFbLogin
    class="btn btn-primary ml-3" (loginOk)="loggedFacebook($event)"
    (loginError)="showError($event)" [scope]="['email', 'public_profile']">
    <i class="fab fa-facebook"></i>
    Facebook
    </button>
</div>
</div>
