<div class="container">
  <div
  *ngIf="errorGuardado === true"
  class="alert alert-danger">
    {{error}}
  </div>
  <form
    action="#"
    id="form-register"
    class="mt-4"
    (ngSubmit)="addUser()"
    #registerForm="ngForm"
    novalidate
  >
    <legend>Create an account</legend>

    <div class="form-group">
      <label for="nombre">Name:</label>
      <input
        type="text"
        class="form-control mb-2"
        [(ngModel)]="user.name"
        #nameModel="ngModel"
        required
        [ngClass]="validClasses(nameModel, 'is-valid', 'is-invalid')"
        minlength="1"
        id="name"
        name="nameUser"
        placeholder="Name"
      />
      <div
        *ngIf="nameModel.touched && nameModel.invalid"
        class="alert alert-danger"
      >
        Name is required and can only contain letters and spaces.
      </div>
    </div>
    <div class="form-group">
      <label for="correo">Email:</label>
      <input
        type="email"
        [(ngModel)]="user.email"
        #email1Model="ngModel"
        required
        minlength="1"
        class="form-control mb-2"
        id="email"
        name="email"
        placeholder="Email"
      />
      <div
        *ngIf="email1Model.touched && email1Model.invalid"
        class="alert alert-danger"
      >
        Email is required.
      </div>
    </div>
    <div class="form-group">
      <label for="correo">Repeat Email:</label>
      <input
        type="email"
        [(ngModel)]="email2"
        [class]="correosIguales"
        (change)="cambiaCorreo()"
        required
        #email2Model="ngModel"
        class="form-control mb-2"
        id="email2"
        name="email2"
        placeholder="Email"
      />
      <div
        *ngIf="email2 !== '' && email2 !== user.email"
        class="alert alert-danger"
      >
        Both email must be equal.
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input
        type="password"
        [(ngModel)]="user.password"
        required
        minlength="4"
        #passwordModel="ngModel"
        class="form-control mb-2"
        id="password"
        name="password"
        placeholder="Password"
      />
      <div
        *ngIf="passwordModel.touched && passwordModel.invalid"
        class="alert alert-danger"
      >
        Password is required and minlength is 4.
      </div>
    </div>
    <div class="form-group">
      <label for="image">Avatar image</label>
      <input
        name="avatar"
        type="file"
        #fileImage
        (change)="changeImage(fileImage)"
        required
        [ngClass]="{ 'ng-valid': fileImage.files.length && fileImage.touched ,'ng-invalid': !fileImage.files.length }"
        class="form-control"
        id="avatar"
      />
      <div
        *ngIf="fileImage.touched && fileImage.invalid"
        class="alert alert-danger"
      >
        Image is required
      </div>
    </div>
    <img [src]="user.avatar" alt="" id="imgPreview" class="img-thumbnail" #imagePreview>
    <div class="row">
      <div class="form-group col-xs-12 col-sm-6">
        <label for="latitude">Latitude:</label>
        <input
          type="text"
          class="form-control"
          id="lat"
          name="lat"
          [(ngModel)]="user.lat"
          [value]="user.lat"
          placeholder="Geolocalizing..."
          readonly
        />
      </div>
      <div class="form-group col-xs-12 col-sm-6">
        <label for="longitude">Longitude:</label>
        <input
          type="text"
          class="form-control"
          id="lng"
          name="lng"
          [(ngModel)]="user.lng"
          [value]="user.lng"
          placeholder="Geolocalizing..."
          readonly
        />
      </div>
    </div>
    <a
      class="btn btn-secondary m-3 text-white"
      (click)="goToBack()"
      role="button"
      >Go back</a
    >
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="
        registerForm.invalid || !fileImage.files.length || user.email !== email2
      "
    >
      Create account
    </button>
  </form>
</div>
