  <div class="card" #restaurantDiv>
    <a [routerLink]="['/restaurants/details', restaurant.id]"><img class="card-img-top" [src]="restaurant.image" /></a>
    <div class="card-body">
      <a [routerLink]="['/restaurants/details', restaurant.id]"><h5 class="card-title">{{ restaurant?.name }}</h5></a>
      <p class="card-text" [innerText]="restaurant.description"></p>
      <div class="card-text">
        <small class="text-muted">
          <strong> Opens: </strong>
          <span *ngFor="let day of restaurant.daysOpen"> {{ days[day] }} </span>
        </small>
        <div *ngIf="restaurant.daysOpen.includes(weekDay+'')" class="d-inline">
          <span class="badge badge-success">Open</span>
        </div>
        <div *ngIf="!restaurant.daysOpen.includes(weekDay+'')" class="d-inline">
          <span class="badge badge-danger">Closed</span>
        </div>
      </div>
      <div class="card-text">
        <small class="text-muted">
          <strong>Phone: </strong>{{ restaurant?.phone }}</small
        >
      </div>
      <div class="card-text">
          <small class="text-muted">
              <star-rating [rating]="restaurant?.stars"></star-rating>
          </small>
      </div>
    </div>
    <button class="mt-2 ml-3 mb-3 btn btn-sm btn-danger btn-delete" (click)="deleteButton()" *ngIf="restaurant.mine">Delete</button>
    <a class="mt-2 ml-3 mb-3 btn btn-sm btn-primary text-white" *ngIf="restaurant.mine" [routerLink]="['/restaurants/edit', restaurant.id]">Edit</a>
    <div class="card-footer">
        <small class="text-muted float-right">
            {{ restaurant?.distance }} km
        </small>
        <small class="text-muted">
            {{ restaurant?.cuisine }}
        </small>
    </div>
  </div>
