<div id="profile">
  <div class="row mt-4 mb-5">
    <div class="col-3">
      <img class="w-75 ml-3" id="avatar" [src]="user?.avatar" alt="avatar" />
    </div>
    <div class="col-9">
      <h4>{{ user?.name }}</h4>
      <h4>
        <small class="text-muted">{{ user?.email }}</small>
      </h4>
      <ng-template [ngIf]="user?.me">
        <p>
          <a [routerLink]="['/profile/edit']" class="btn btn-primary"
            >Edit profile</a
          >
        </p>
      </ng-template>
    </div>
  </div>
</div>
<div id="map">
  <mgl-map [style]="'mapbox://styles/mapbox/streets-v11'"
        [zoom]="[zoom]" [center]="[user.lng, user.lat]" class="pb-5 ml-4 mr-4">
        <mgl-marker [lngLat]="[user.lng, user.lat]"></mgl-marker>
      </mgl-map>
</div>
