<div class="container">
  <nav class="navbar navbar-light bg-light justify-content-between mt-3">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a
          name="orderByName"
          class="nav-link"
          [ngClass]="{ active: orderByName, '': !orderByName }"
          (click)="togleOrderName($event)"
          href="#"
          >Order by name</a
        >
      </li>
      <li class="nav-item ml-1">
        <a
          name="showOpen"
          class="nav-link"
          [ngClass]="{ active: showOpen, '': !showOpen }"
          (click)="toggleShowOpen($event)"
          href="#"
          >Show open</a
        >
      </li>
    </ul>
    <form class="form-inline mb-0">
      <input
        [(ngModel)]="search"
        name="search"
        type="text"
        id="search"
        placeholder="Search"
        aria-label="Search"
        class="form-control mr-sm-2"
      />
    </form>
  </nav>
  <div id="placesContainer" class="card-columns mt-3 text-auto">
    <fs-restaurant-card
      (delete)="delete(restaurant)"
      [restaurant]="restaurant"
      *ngFor="
        let restaurant of (restaurants
          | restaurantFilter: orderByName:showOpen:search)
      "
    ></fs-restaurant-card>
  </div>
</div>
