<div class="container">
  <div id="cardContainer" class="mt-4">
    <fs-restaurant-card ngClass="'width: 50%': restaurants.length > 1, 'col-6': restaurants.length == 1"
      [restaurant]="restaurant"></fs-restaurant-card>
  </div>
  <div class="card mt-4">
    <div class="card-header" id="address">{{ restaurant.address }}</div>
    <div class="card-body">
      <div id="map">
        <mgl-map [style]="'mapbox://styles/mapbox/streets-v11'"
        [zoom]="[zoom]" [center]="[restaurant.lng, restaurant.lat]" class="pb-5">
        <mgl-marker [lngLat]="[restaurant.lng, restaurant.lat]"></mgl-marker>
      </mgl-map>
      </div>
    </div>
  </div>
  <ul class="list-group mt-4 mb-4" id="comments">
    <li class="list-group-item active">Restaurant comments</li>
    <fs-comment [comment]="comment" *ngFor="let comment of commentsGeters"></fs-comment>
  </ul>

  <ng-template [ngIf]="!restaurant?.commented">
  <form class="mt-4" id="commentForm">
    <h4>Write about this restaurant:</h4>
    <div class="form-group">
      <textarea class="form-control" name="comment" id="comment" placeholder="Write an opinion" [(ngModel)]="comment.text"></textarea>
    </div>
    <div id="stars">
      <!-- STAR RATING CHANGE -->
      <star-rating-change [rating]="comment.stars" (changeRating)="changeRating($event)"></star-rating-change>
    </div>
    <button type="submit" class="btn btn-primary mt-3 mb-5" (click)="addComment()">Send</button>
  </form>
</ng-template>
</div>
