<div class="container">
  <form
    id="form-profile"
    class="mt-4"
    role="form"
    (ngSubmit)="cambiarCorreoYNombre()"
    #nameForm="ngForm"
    novalidate
  >
    <legend>Edit profile</legend>

    <div class="form-group">
      <label for="correo">Email:</label>
      <input
        type="email"
        class="form-control"
        name="email"
        id="email"
        placeholder="Email"
        [(ngModel)]="modifiedUser.email"
        #emailModel="ngModel"
        minlength="1"
        required
      />
      <label for="name">Name:</label>
      <input
        type="text"
        class="form-control"
        name="nameUser"
        [(ngModel)]="modifiedUser.name"
        id="name"
        placeholder="Name"
        #nameModel="ngModel"
        minlength="1"
        required
      />
    </div>
    <ng-template [ngIf]="errorCambiarNombre">
      <p class="alert alert-danger" id="errorInfo1">{{ error1 }}</p>
    </ng-template>
    <ng-template [ngIf]="exitoCambiarNombre">
      <p class="alert alert-success" id="okInfo1">{{ exito1 }}</p>
    </ng-template>
    <button type="submit" class="btn btn-primary">Edit profile</button>
  </form>

  <form
    id="form-avatar"
    class="mt-4"
    role="form"
    #avatarForm="ngForm"
    (ngSubmit)="cambiarAvatar()"
  >
    <legend>Edit avatar</legend>

    <div class="form-group">
      <input
        type="file"
        class="form-control"
        id="image"
        name="image"
        #fileImage
        (change)="changeImage(fileImage)"
        [ngClass]="{
          'ng-valid': fileImage.files.length && fileImage.touched,
          'ng-invalid': !fileImage.files.length
        }"
        required
      />
    </div>
    <div class="row">
      <div class="col" class="w-100">
        <img class="w-5 mb-3" id="avatar" [src]="modifiedUser.avatar" alt="avatar" />
      </div>
      <div class="col">
        <img
          [ngClass]="{ 'd-none w-5 mb-3': avatar === '', 'w-100 mb-3': avatar !== '' }"
          [src]="avatar"
          alt=""
          id="imgPreview"
        />
      </div>
    </div>
    <ng-template [ngIf]="errorCambiarAvatar">
      <p class="alert alert-danger" id="errorInfo1">{{ error2 }}</p>
    </ng-template>
    <ng-template [ngIf]="exitoCambiarAvatar">
      <p class="alert alert-success" id="okInfo1">{{ exito2 }}</p>
    </ng-template>
    <button type="submit" class="btn btn-primary">Edit avatar</button>
  </form>

  <form
    id="form-password"
    class="mt-4"
    role="form"
    #passwordForm="ngForm"
    (ngSubmit)="cambiarPassword()"
    novalidate
  >
    <legend>Edit password</legend>

    <div class="form-group">
      <label for="password">Password:</label>
      <input
        type="password"
        class="form-control"
        name="password"
        id="password"
        minlength="1"
        placeholder="Password"
        [(ngModel)]="modifiedUser.password"
        #passwordModel="ngModel"
        required
      />
      <label for="password2">Repeat password:</label>
      <input
        type="password"
        name="password2"
        [(ngModel)]="password2"
        #password2Model="ngModel"
        id="password2"
        placeholder="Repeat password"
        [ngClass]="contrasenasIguales"
        (change)="cambiaContrasena()"
        required
      />
    </div>
    <ng-template [ngIf]="errorCambiarPassword">
      <p class="alert alert-danger" id="errorInfo1">{{ error3 }}</p>
    </ng-template>
    <ng-template [ngIf]="exitoCambiarPassword">
      <p class="alert alert-success" id="okInfo1">{{ exito3 }}</p>
    </ng-template>
    <button type="submit" class="btn btn-primary mb-5">Edit password</button>
  </form>
</div>
