<div class="container text-left">
  <div *ngIf="errorGuardado === true" class="alert alert-danger">
    {{ error }}
  </div>
  <form
    class="form mt-4"
    (ngSubmit)="addRestaurant()"
    #restaurantForm="ngForm"
    novalidate
  >
    <div class="form-group">
      <label for="name">Name</label>
      <input
        type="text"
        [(ngModel)]="newRest.name"
        class="form-control"
        name="name"
        id="name"
        placeholder="Enter name"
        minlength="5"
        required
        #nameModel="ngModel"
      />
      <div
        *ngIf="nameModel.touched && nameModel.invalid"
        class="alert alert-danger"
      >
        Name is required and can only contain letters and spaces.
      </div>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea
        class="form-control"
        id="description"
        [(ngModel)]="newRest.description"
        name="description"
        rows="3"
        placeholder="Description"
        #descriptionModel="ngModel"
        required
      ></textarea>
      <div
        *ngIf="descriptionModel.touched && descriptionModel.invalid"
        class="alert alert-danger"
      >
        Description is required.
      </div>
    </div>
    <div class="form-group">
      <label for="cuisine">Cuisine</label>
      <input
        type="text"
        [(ngModel)]="cuisine"
        class="form-control"
        name="cuisine"
        id="cuisine"
        placeholder="Cuisine"
        #cuisineModel="ngModel"
        required
      />
      <div
        *ngIf="cuisineModel.touched && cuisineModel.invalid"
        class="alert alert-danger"
      >
        Cuisine is required.
      </div>
    </div>
    <p>Opening days</p>
    <div
      class="form-group"
      ngModelGroup="daysGroup"
      #daysModel="ngModelGroup"
      fsOneChecked
    >
      <div
        class="custom-control custom-control-inline custom-checkbox"
        *ngFor="let day of days; let i = index"
      >
        <input
          type="checkbox"
          class="custom-control-input"
          id="checkDay{{ i }}"
          [name]="day"
          [(ngModel)]="daysOpen[i]"
        />
        <label class="custom-control-label" for="checkDay{{ i }}">{{
          day
        }}</label>
      </div>
      <div *ngIf="daysModel.invalid" class="alert alert-danger">
        You must select at least one day
      </div>
    </div>
    <div class="form-group">
      <label for="phone">Phone number</label>
      <input
        type="text"
        [(ngModel)]="newRest.phone"
        class="form-control"
        id="phone"
        name="phone"
        placeholder="Phone number"
        #phoneModel="ngModel"
        pattern="(\+?[0-9]2 ?)?[0-9]{9}"
      />
      <div
        *ngIf="phoneModel.touched && phoneModel.invalid"
        class="alert alert-danger"
      >
        Phone must have 9 numbers and optional country prefix
      </div>
    </div>
    <div class="form-group">
      <label for="image">Main photo</label>
      <input
        type="file"
        [class]="controlDeImagen"
        id="image"
        name="image"
        #fileImage
        (change)="changeImage(fileImage)"
        required
      />
      <div
        *ngIf="fileImage.touched && fileImage.invalid"
        class="alert alert-danger"
      >
        Image is required
      </div>
    </div>
    <img
      *ngIf="fileImage.files.length"
      [src]="newRest.image"
      alt=""
      id="imgPreview"
      class="img-thumbnail"
      #imagePreview
    />
    <div class="form-group">
      <label for="address">Address</label>
      <input
        type="search"
        class="form-control"
        id="address"
        name="address"
        [(ngModel)]="newRest.address"
        disabled
      />
      <div class="invalid-feedback">Address is required.</div>
    </div>
    <div id="map">
      <mgl-map
        [style]="'mapbox://styles/mapbox/streets-v11'"
        [zoom]="[zoom]"
        [center]="[newRest.lng, newRest.lat]"
        class="pb-5"
      >
        <mgl-marker [lngLat]="[newRest.lng, newRest.lat]"></mgl-marker>
        <mgl-control mglGeocoder (result)="changePosition($event.result)">
        </mgl-control>
      </mgl-map>
    </div>
    <button
      type="submit"
      class="btn btn-primary mb-5"
      [disabled]="restaurantForm.invalid || newRest.image === ''"
    >
      Create
    </button>
  </form>
</div>
