/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.css";
.form-control.is-valid ~ .invalid-feedback {
  display: none;
}

#newPlace .custom-checkbox label {
  color: #444;
}

#placesContainer .card-text .badge {
  margin-left: 5px;
}

.card-text.description {
  white-space: pre-wrap;
}

@media (min-width: 576px) {
  .card-columns {
      column-count: 2;
  }
}

@media (min-width: 992px) {
  .card-columns {
      column-count: 3;
  }
}
